html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 20px 20px 0 20px;
    z-index: 2;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 600px) {
    header {
        margin: 0;
        border-radius: 0;
    }
}

/*---------------- Tablet ---------------------*/
@media screen and (min-width:720px) and (max-width:900px){
    header {
        margin: 0;
        border-radius: 0;
    }
    .landing-page,
    .about-section,
    .services-section,
    .contact-section {
        margin: 0 !important;
        border-radius: 0 !important;
    }
       
}

.logo::before,
.logo::after {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.logo::before {
    top: 30px;
}

.logo::after {
    background-color: #9e9696f3;
    top: 20px;
    left: 30px;
    box-shadow: -1px 1px 5px #494848;
}

nav ul {
    list-style: none;
    padding-left: 30px;
}

.fa-bars {
    color: #333;
}

nav ul li {
    display: inline;
    margin-left: 25px;
}

nav ul li:hover {
    background-color: #e0e0e0;
    padding: 40px 10px 10px 10px;
    border-radius: 7px;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.2),
                inset -6px -6px 10px rgba(255, 255, 255, 0.5);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #333;
}

.landing-page {
    display: flex;
    align-items: center;
    padding: 40px;
    background: #333;
    margin: 0 20px;
    color: #ffffff;
    border-radius: 0 0 10px 10px;
}

main h1{
   margin-bottom: 0;
}

main p{
    margin-top: 0;
}
main strong{
    color: #8ebae4;
}


@media screen and (max-width: 600px) {
    .landing-page {
        flex-direction: column-reverse;
        margin: 0;
        border-radius: 0;
    }

    nav ul li:hover {
        padding: 40px 5px 5px 5px;
    }
}

.content button{
    background-color: #ffffff;
    color: #333;
    transition: .70s;
    margin-top: 20px;
}

.content button:hover{
    background-color: #333;
    box-shadow: 0 0 3px #ffffff;
    color: #ffffff;
    padding: 10px 20px;
}

.content {
    flex: 1;
    padding-right: 20px;
}

.profile-pic img {
    width: 100%; 
    max-width: 300px; 
    height: 300px; 
    border-radius: 50%;
}

/*--------------------- Mobile -----------------------*/
@media screen and (max-width:320px) {
    .service {
        max-width: 250px;
        max-height: 230px !important;
    }
    .profile-pic img {
        width: 100%; 
        max-width: 250px; 
        height: 250px; 
        border-radius: 50%;
    }
}

.profile-pic::before {
    content: '';
    background-color: #e0e0e0;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    animation: rotate 5s infinite linear;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 0.6rem;
    box-shadow: inset 6px 6px 10px rgba(0, 0, 0, 0.2),
                inset -6px -6px 10px rgba(255, 255, 255, 0.5);
}

@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.about-section,
.services-section,
.contact-section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.about-section h2,
.services-section h2,
.contact-section h2 {
    margin-top: 0;
    color: #333;
}

.services-section {
    background: #e2e2e2;
}
.contact-section{
    background-color: #e0e0e0;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.service {
    text-align: center;
    max-width: 250px;
    max-height: 240px;
    overflow: hidden;
    transition: 1s;
    margin: 10px; 
}

.service:hover {
    max-height: 500px;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        max-width: 350px;
        max-height: 270px;
    }

    .contact-section,
    .about-section,
    .services-section {
        margin: 0;
        border-radius: 0;
    }
}

#projects {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
}

#projects h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s;
}

#projects li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#projects h3 {
    margin: 0;
}

#projects a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

#projects a:hover {
    text-decoration: underline;
}

#projects p {
    color: #555;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

.mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .fa-bars {
        display: block;
        font-size: 1.3rem;
        cursor: pointer;
        color: #ffffff;
    }

    nav li a {
        display: none;
    }

    .icons i {
        padding: 20px 10px 0 10px;
        cursor: pointer;
    }

    h5 {
        text-align: center;
    }

    .open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        padding: 20px 10px;
        position: absolute;
        top: 75px;
        right: 0;
    }
    
    .open a {
        padding: 20px 60px;
        text-decoration: none;
        color: #ffffff;
    }

    .open a:hover {
        background-color: #ffffff;
        color: #333;
    }

    
    button {
        width: 100%; 
        padding: 15px; 
    }
}

.contact-section h2 {
    margin-top: 0;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
}

button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
}
