<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRJ Delivery</title>
    <link rel="stylesheet" href="../css/delivery.css">
</head>
<body>

    <!-- Pre Loader -->
  <div class="wrapper">
    <div class="custom-loader"></div>
</div>
    
    <!-- Delivery Container -->
    <div class="delivery-container">
        <div class="delivery-header-container">
            <h1 class="delivery-heading hidden">
                Fast and Reliable Delivery from MRJ Online Clothing Store.
            </h1>
            <p class="delivery-paragraph hidden">
                At MRJ Online Clothing Store, we understand that convenience and speed are crucial when it comes to online shopping. That's why we're excited to introduce our new and improved delivery service. We've revamped our entire delivery process to ensure that you receive your fashion-forward items faster and more efficiently than ever before.
            </p>
        </div>

        <div class="delivery-list hidden">
            <h2 class="subheading hidden">Why Choose MRJ Online Clothing Store's Delivery Service?</h2>
            <details class="hidden">
                <summary>Swift Delivery</summary>
                <p>We've partnered with leading logistics providers to bring you a swift and efficient delivery service. Expect your orders to arrive at your doorstep in no time.</p>
            </details>
            <details class="hidden">
                <summary>Nationwide Coverage</summary>
                <p> No matter where you're located within the country, MRJ Online Clothing Store will reach you. Our extensive network ensures that we can serve customers from all corners of the nation.</p>
            </details>
            <details class="hidden">
                <summary>Secure Packaging</summary>
                <p>We take utmost care in packaging your fashion finds. Your items will arrive in perfect condition, just as you saw them on our website.</p>
            </details>
            <details class="hidden">
                <summary>Real-Time Tracking</summary>
                <p>Stay in the loop with real-time order tracking. Know exactly where your package is at any given time, so you can plan your day accordingly.</p>
            </details>
            <details class="hidden">
                <summary>Flexible Delivery Options</summary>
                <p>We understand that every customer's needs are unique. That's why we offer various delivery options, from standard shipping to express delivery, allowing you to choose what works best for you.</p>
            </details>

            <!-- ------------------------------ -->
            <div class="how-container">
                <h2 class="how-heading hidden">How It Works</h2>
                <div class="how-list">
                    <details class="hidden">
                        <summary>Shop with Style</summary>
                        <p>Browse our online store and fill your cart with the latest fashion finds.</p>
                    </details>
                    <details class="hidden">
                        <summary>Track Your Order</summary>
                        <p>After your order is confirmed, use our tracking system to monitor your delivery's progress.</p>
                    </details>
                </div>   
            </div>
        </div>
        </div>

       <!-- Footer -->
<div class="footer">
    <div class="inner-footer">
  
  <!-- company name and description -->
      <div class="footer-items hidden">
        <h1>MRJ</h1>
        <p>The Best Online Clothing Store.</p>
      </div>
  
  <!--  for quick links  -->
      <div class="footer-items hidden">
        <h3>Home</h3>
        <div class="border1"></div> <!--for the underline -->
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="../components/blog.html">Blog</a></li>
            <li><a href="#">Store</a></li>
            <li><a href="./components/delivery.html">Delivery</a></li>
          </ul>
      </div>
  
  <!--  for some other links -->
      <div class="footer-items hidden">
        <h3>MRJ Help</h3>
        <div class="border1"></div>  <!--for the underline -->
          <ul>
            <li><a href="">How To Shop Online</a></li>
            <li><a href="components/terms.html">Terms & Conditions</a></li>
          </ul>
      </div>
  
  <!--  for contact us info -->
      <div class="footer-items hidden">
        <h3>Contact us</h3>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Durban, KZN, South Africa</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+27 234 567 8901</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>mrjonlineclothing@gmail.com</li>
          </ul> 
        
  <!--   for social links -->
          <div class="social-media hidden">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div> 
      </div>
    </div>
    
  <!--   Footer Bottom start  -->
    <div class="footer-bottom hidden">
      Copyright &copy; MRJ Online Clothing Store 2024.
    </div>
  </div>
    
  <!--   Footer Bottom end -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../js/delivery.js"></script>
</body>
</html>