<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MRJ Online Clothing Store - Our Locations</title>
    <script src="https://kit.fontawesome.com/655b3b7e45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/location.css" />
  </head>
  <body>
    <!-- Pre Loader -->
    <div class="wrapper">
      <div class="custom-loader"></div>
    </div>

    <!-- Navigation Bar -->
    <header>
         <!-- Back icon -->
         <div class="back-icon-wrapper">
          <a href="../index.html">
           <i class="fa-solid fa-arrow-left"></i>
          </a>
       </div>
      <h1 class="heading hidden">VISIT MRJ</h1>
    </header>

    <!-- Google Map -->
    <main class="hidden">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d221431.567753078!2d30.826137758669653!3d-29.86807332285957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef7aa0001bc61b7%3A0xcca75546c4aa6e81!2sDurban!5e0!3m2!1sen!2sza!4v1697913933013!5m2!1sen!2sza"
        width="368"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </main>

    <!-- Page Content -->
    <div class="container">
      <h1 class="location-header hidden">Our Locations</h1>
      <p class="hidden">
        We have multiple locations where you can visit us in person. Find the
        nearest MRJ Online Clothing Store near you.
      </p>

      <div class="location hidden">
        <h2>Cape Town Store</h2>
        <address>
          Victoria Wharf Shopping Centre<br />
          19 Dock Rd · 021 408 7500<br />
          Closed ⋅ Opens 9am Sun
        </address>
      </div>

      <div class="location hidden">
        <h2>Johannesburg Store</h2>
        <address>
          Rosebank Mall<br />
          15A Cradock Ave, Rosebank, Johannesburg, 2196<br />
          Hours: Closed ⋅ Opens 9am Sun Phone: 011 788 5530
        </address>
      </div>

      <div class="location hidden">
        <h2>Durban Store</h2>
        <address>
            Musgrave Centre<br />
            Durban, 115 Musgrave Rd, Berea, 4001<br />
            Phone: 031 277 8420
        </address>
      </div>

      <div class="location hidden">
        <h2>Barcelona Store</h2>
        <address>
            Diagonal Mar<br />
            Av. Diagonal, 3, 08019 Barcelona, Spain<br />
            Phone: +34 627 59 40 67
        </address>
      </div>
    </div>

    <!-- Footer -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../js/location.js"></script>
  </body>
</html>
